* {
  padding: 0;
  margin: 0;
}



li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

ul {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.big-max {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.max {
  width: 640px;
  height: 1030px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.max-one {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff4e3;
  z-index: 15;
}

.logo {
  width: 40%;
  position: absolute;
  z-index: 15;
  top: 30%;
}

.logo>img {
  width: 100%;
}

.logo2 {
  width: 40%;
  position: absolute;
  top: 30%;
}

.logo2>img {
  width: 100%;
}

.jd {
  width: 225px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60%;
}

.max-one-zi {
  width: 100%;
  position: absolute;
  top: 100%;
  text-align: center;
}

#wrapper {
  width: 225px;
  height: 23px;
  background-color: hsl(36, 26%, 96%);
  position: absolute;
  border-radius: 20px 20px 20px 20px;
  top: 65%;
}

#progressbar {
  width: 225px;
  height: 23px;
  background-color: hsl(36, 26%, 96%);
  position: relative;
  border-radius: 20px 20px 20px 20px;
}

/*在进度条元素上调用动画*/
#fill {
  /* width: 100%;
  height: 100%; */
  /* border-radius: 20px 20px 20px 20px; */
  position: absolute;
  /* text-align: center; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

}

#fillt {
  width: 0%;
  height: 100%;
  border-radius: 20px 20px 20px 20px;
  background-color: #f59607;
  position: absolute;
  animation: move 12s;
}

/*实现元素宽度的过渡动画效果*/
@keyframes move {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.max-two {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff4e3;
  z-index: 14;
}

.two-top {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("../images/bj.png");
  background-size: cover;
}

.top-bj {
  width: 100%;
  height: 100%;
}

.top-bj-one {
  width: 85%;
  position: relative;
}

.top-bj-one>img {
  width: 100%;
}

.top-bj-three {
  width: 30%;
  position: absolute;
  margin-top: -35%;
  margin-left: 65%;
}

.top-bj-three>img {
  width: 100%;
}

.two-zj {
  width: 100%;
  height: 40%;
  position: relative;
}

.zj-top {
  width: 30%;
  margin-left: 48%;
  position: absolute;
  opacity: 0;
}

.zj-top>img {
  width: 100%;
}

.zj-topt {
  animation: enter-x-left 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(-260%);
}

.zj-one {
  width: 60%;
  position: absolute;
  margin-top: 10%;
  margin-left: 15%;
}

.zj-one>img {
  width: 100%;
}

.zj-two {
  width: 40%;
  position: absolute;
  margin-left: 40%;
  margin-top: 20%;
  z-index: 14;
}

.zj-two>img {
  width: 100%;
}

.zj-three {
  width: 20%;
  position: absolute;
  margin-top: 50%;
  margin-left: 27%;
}

.zj-three>img {
  width: 100%;
}

.two-bottom {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url("../images/bj.png");
  background-size: 100% 100%;
}

.top-bj-two {
  width: 15%;
  position: absolute;
  margin-right: 76%;
  margin-top: -100%;
}

.top-bj-two>img {
  width: 100%;
}

.top-bj-twot {
  animation: drop 2s cubic-bezier(0.4, 0, 0.2, 0.5) forwards;
}

@keyframes drop {
  to {
    margin-top: 8%;
    /* 移动到容器底部 */
  }
}

.bottom-one {
  width: 60%;
  position: absolute;
  top: 10%;
  animation: guangtwo 1.5s linear infinite;
}

.bottom-one>img {
  width: 100%;
}

@keyframes guangtwo {
  0% {
    /* width: 60%; */
    transform: scale(1);
  }

  50% {
    /* width: 65%; */
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.max-three {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff4e3;
  z-index: 13;
  justify-content: space-evenly;
}

.three-shitu {
  width: 88.125%;
  height: 88.492%;
  position: relative;
}

.three-top-one {
  width: 100%;
  height: 25%;
  position: relative;
  border: 2px solid #000000;
}

.one-bj-img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.top-one-bjt {
  animation: showtow 3s ease-in-out forwards;
}

@keyframes showtow {
  0% {
    opacity: 0;
    /* 初始状态为完全透明 */
  }

  100% {
    opacity: 1;
    /* 结束时为完全不透明 */
  }
}

.three-top-two {
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.top-two-one {
  width: 49%;
  height: 89%;
  position: relative;
}

.two-one-img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.two-one-imgt {
  animation: enter-x-left 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(-50px);
}

@keyframes enter-x-left {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.top-two-two {
  width: 49%;
  height: 90%;
  position: relative;
}

.two-two-img {
  width: 100%;
  height: 78%;
  position: absolute;
  opacity: 0;
}

.two-two-imgt {
  animation: enter-x-right 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(50px);
}

@keyframes enter-x-right {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.three-top-three {
  width: 100%;
  height: 55%;
  position: relative;
  bottom: 13%;
}

.top-three-img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.top-three-imgt {
  animation: four-x-right 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateY(50px);
}

@keyframes four-x-right {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.one-shan {
  width: 45%;
  position: absolute;
}

.one-shant {
  animation: showtow 3s ease-in-out forwards;
}

.two-shan {
  width: 30%;
  position: absolute;
  margin-left: 65%;
}

.two-shan>img {
  width: 100%;
}

.two-shant {
  animation: showtow 3s ease-in-out forwards;
}

.gong {
  width: 65%;
  position: absolute;
  margin-left: 34%;
  bottom: 0;
}

.gong>img {
  width: 100%;
}

.gongt {
  animation: showtow 3s ease-in-out forwards;
}

.gantan {
  width: 20%;
  position: absolute;
  margin-top: 5%;
  margin-left: 20%;
  opacity: 0;
}

.gantan>img {
  width: 100%;
}

.gantant {

  animation: showtowt 1s ease-in-out forwards;
}

@keyframes showtowt {
  0% {
    opacity: 0;
    /* transform: rotate(0); */
    transform: scale(1);
    /* 初始状态为完全透明 */
  }

  50% {
    /* transform: rotate(0deg); */
    transform: scale(1.8);

  }

  100% {
    opacity: 1;
    /* 结束时为完全不透明 */
    /* transform: rotate(0); */
    transform: scale(1);

  }
}

.ten {
    height: 85%;
    right: -2%;
    opacity: 0;
    position: absolute;
    z-index: 13;
    bottom: 7%;
}

.ten>img {
  height: 100%;
}

.tent {
  animation: enter-x-left 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(-50px);
}

.wz-one {
  width: 100%;
  position: absolute;
  margin-left: -10%;
  opacity: 0;
}

.wz-one>img {
  width: 100%;
}

.wz-onet {
  animation: enter-x-right 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(50px);
}

.tj-one {
  width: 45%;
  margin-left: 10%;
  position: absolute;
  bottom: 0;
  opacity: 0;
}

.tj-one>img {
  width: 100%;
}

.tj-two>img {
  width: 100%;
}

.tj-three>img {
  width: 100%;
}

.tj-onet {
  animation: enter-x-left 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(-50px);
}

.tj-two {
  width: 14%;
  position: absolute;
  bottom: 0;
  margin-left: 65%;
  opacity: 0;
}

.tj-twot {
  animation: enter-x-right 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(50px);
}

.tj-three {
  width: 13%;
  position: absolute;
  bottom: 0;
  margin-left: 79%;
  opacity: 0;
}

.tj-threet {
  animation: enter-x-right 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(50px);
}

.wz-two {
  width: 55%;
  position: absolute;
  bottom: 55%;
  margin-left: 30%;
  opacity: 0;
}

.wz-two>img {
  width: 100%;
}

.wz-twot {
  animation: enter-x-left 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(-50px);
}

.gantan-one {
  width: 25%;
  position: absolute;
  bottom: 30%;
  margin-left: 55%;
  opacity: 0;
}

.gantan-one>img {
  width: 100%;
}

.gantan-onet {
  animation: enter-x-right 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(50px);
}

.gantan-two {
  width: 13%;
  position: absolute;
  bottom: 30%;
  margin-left: 55%;
  opacity: 0;
}

.max-four {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff4e3;
  z-index: 12;
  justify-content: space-evenly;
}

.four-top {
  width: 100%;
  height: 50%;
  position: relative;
  top: 3%;
}

.top-four-img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.top-four-imgt {
  animation: enter-x-left 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(-50px);
}

.four-bottom {
  width: 100%;
  height: 50%;
  position: relative;
  bottom: 3%;
}

.bottom-four-img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.bottom-four-imgt {
  animation: showtow 3s ease-in-out forwards;
}

.four-wz-one {
  width: 40%;
  position: absolute;
  left: 30%;
  top: -10%;
  opacity: 0;
}

.four-wz-one>img {
  width: 100%;
}

.four-wz-onet {
  animation: enter-x-left 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(-50px);
}

.four-wz-two {
  width: 45%;
  position: absolute;
  right: 0%;
  top: 20%;
  opacity: 0;
}

.four-wz-two>img {
  width: 100%;
}

.four-wz-twot {
  animation: enter-x-right 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(50px);
}

.four-tx-one {
  width: 35%;
  position: absolute;
  top: 15%;
  left: 3%;
  opacity: 0;
}

.four-tx-one>img {
  width: 100%;
}

.four-tx-onet {
  animation: showtow 3s ease-in-out forwards;
}

.four-tx-two {
  width: 40%;
  position: absolute;
  bottom: -4%;
  left: 8%;
  opacity: 0;
}

.four-tx-two>img {
  width: 100%;
}

.four-tx-twot {
  animation: showtow 3s ease-in-out forwards;
}

.four-tx-three {
  width: 40%;
  position: absolute;
  right: -3%;
  opacity: 0;
  top: -25%;
}

.four-tx-three>img {
  width: 100%;
}

.four-tx-threet {
  animation: showtow 3s ease-in-out forwards;
}

.four-wz-three {
  width: 40%;
  position: absolute;
  opacity: 0;
  bottom: 20%;
  left: 50%;
}

.four-wz-three>img {
  width: 100%;
}

.four-wz-threet {
  animation: four-x-right 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateY(50px);
}

.four-wz-four {
  width: 60%;
  height: 30%;
  bottom: 3%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 2%;
}

.wz-four-imgt {
  animation: showtowta 1s ease-in-out forwards;
}

.wz-four-imgtwot {
  animation: showtowtb 1s ease-in-out forwards;
}

@keyframes showtowta {
  0% {
    opacity: 0;
    /* transform: rotate(0); */
    transform: scale(1);
    /* 初始状态为完全透明 */
  }

  50% {
    /* transform: rotate(0deg); */
    transform: scale(1.2);

  }

  100% {
    opacity: 1;
    /* 结束时为完全不透明 */
    /* transform: rotate(0); */
    transform: scale(1);

  }
}

@keyframes showtowtb {
  0% {
    opacity: 0;
    /* transform: rotate(0); */
    transform: scale(1);
    /* 初始状态为完全透明 */
  }

  50% {

    /* transform: rotate(0deg); */
    transform: scale(1.4);

  }

  100% {
    opacity: 1;
    /* 结束时为完全不透明 */
    /* transform: rotate(0); */
    transform: scale(1);

  }
}



.wz-four-img {
  width: 100%;
  position: absolute;
  opacity: 0;
}

.wz-four-img>img {
  width: 100%;
}

.wz-four-imgtwo>img {
  width: 100%;
}

.wz-four-imgtwo {
  width: 15%;
  position: absolute;
  height: 30%;
  top: 50%;
  right: 15%;
  opacity: 0;
}

.six-tp2>img {
  width: 100%;
}

.six-tp3>img {
  width: 100%;
}

.six-tp4>img {
  width: 100%;
}
.six-tp2 {
  position: absolute;
  top: 40%;
  width: 15%;
  right: 9%;
  animation: guang 2s linear forwards, blink 1s infinite;
}

.six-tp3 {
  position: absolute;
  bottom: 40%;
  width: 15%;
  left: 10%;
  animation: guang 2s linear forwards, blink 1s infinite;
}

.six-tp4 {
  position: absolute;
  bottom: 10%;
  width: 15%;
  left: 39%;
  animation: guang 2s linear forwards, blink 1s infinite;
}

.max-five {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff4e3;
  z-index: 11;
  justify-content: space-evenly;
  /* 页面背景 */
  background-image: url("../images/bj1.png");
  background-size: cover;
}

.five-bj {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bj-img {
  position: absolute;
}

.bj-img-two {
  height: 98%;
  width: 93%;
  position: absolute;
}

.jz {
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.s-img {
  width: 100%;
  height: 7%;
  /* background-image: url("../images/juanzhou.png"); */
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.s-img-jz {
  width: 100%;
}

.s-img>.s-img-logo {
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.z-img {
  width: 81.60%;
  height: 0;
  overflow: hidden;
  /* position: absolute; */
  /* top: 6.5%; */
  transition: height 2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-image: url("../images/juanzhou2.png");
  background-size: 100% 100%;
}

.z-img.expanded {
  height: 90%;
}


.z-img-two {
  width: 100%;
  height: 100%;
  position: absolute;
}

.p-one {
  width: 80%;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 60%;
  opacity: 0;
}

.p-one-img {
  /* width: 75%; */
  height: 15%;
  margin-top: 5%;
  /* position: absolute;
  top: -30%;
  left: 10%; */
}

.p-two-img {
  width: 77%;
  margin-top: 5%;
}

.p-onet {
  animation: showtow 2s ease-in-out forwards;
}

.p-tow {
  width: 85%;
  display: flex;
  justify-content: center;
  margin-top: 20%;

}

.bottom-two {
  width: 70%;
  background-color: #f59607;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: guangtwo 1.5s linear infinite;
}

.bottom-two>img {
  width: 100%;
}

@keyframes showtow {
  0% {
    opacity: 0;
    /* 初始状态为完全透明 */
  }

  100% {
    opacity: 1;
    /* 结束时为完全不透明 */
  }
}

.p-towt {
  animation: showtow 2s ease-in-out forwards;
}

.s-img-logo {
  /* position: absolute;
  width: 41%;
  height: 5%;
  margin-left: 30%;
  margin-top: 1%; */
}

.s-img-jz {
  position: absolute;
  /* width: 100%;
  height: 6.57%; */
  height: 100%;
}

.top-img {
  top: 0.2%;
}

.bottom-img {
  top: -0.55%;
}

.max-six {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #fff4e3;
  z-index: 10;
  background-image: url('../images/bj1.png');
  background-size: 100% 100%;
}

.six-bj {
  position: absolute;
  height: 100%;
}

.six-bj>img {
  width: 100%;
}

.six-bj-one {
  width: 80%;
  position: absolute;
  margin-right: 24%;
}

.six-bj-one>img {
  width: 100%;
}

.six-bj-two {
  width: 30%;
  position: absolute;
  margin-left: 65%;
  margin-top: 3%;
}

.six-bj-three {
  width: 65%;
  position: absolute;
  margin-top: 30%;
}

.six-bj-three>img {
  width: 100%;
}

.six-bj-four {
  width: 100%;
  height: 18%;
  background-color: #ffffff;
  position: relative;
  margin-top: 112%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bj-four-one {
  width: 120px;
  height: 120px;
  background-image: url('../images/yuan.png');
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.four-one-img {
  width: 100%;
  transform: rotate(-7deg);
}

.four-one-img>img {
  width: 100%;
}

.four-two-img {
  width: 20%;
  position: absolute;
  left: 28%;
  bottom: 48%;
}

.four-two-img>img {
  width: 100%;
}

.four-one-imgone {
  bottom: 10%;
  width: 50%;
  position: absolute;
}

.four-one-imgone>img {
  width: 100%;
}

.four-two-imgone {
  width: 3%;
  position: absolute;
  left: 43%;
  bottom: 40%;
}

.four-two-imgone>img {
  width: 100%;
}

.four-one-imgtwo {
  width: 115%;
  position: absolute;
  bottom: 5%;
}

.four-one-imgtwo>img {
  width: 100%;
}

.six-bj-five {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
}

.bj-five-one {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-three>img {
  width: 100%;
}

.bottom-four>img {
  width: 100%;
}

.bottom-five>img {
  width: 100%;
}

.bottom-three {
  width: 100%;
  height: 60%;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: guangtwo 1.5s linear infinite;
}

.bottom-four {
  width: 100%;
  height: 60%;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: guangtwo 1.5s linear infinite;
}

.bottom-four>p {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
}

.bottom-five {
  width: 100%;
  height: 60%;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: guangtwo 1.5s linear infinite;
}

.bottom-five>p {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
}

.max-seven {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff4e3;
  z-index: 9;
  justify-content: space-evenly;
}

.seven-one {
  width: 90%;
  height: 92%;
  position: relative;
}

.seven-top {
  height: 50%;
  position: relative;
}

.seven-bottom {
  height: 50%;
  position: relative;
}

.seven-top-bj {
  position: absolute;
  top: 5%;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.seven-top-bjt {
  animation: enter-x-left 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(-50px);
}

.seven-bottom-bj {
  position: absolute;
  bottom: 5%;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.seven-bottom-bjt {
  animation: showtow 3s ease-in-out forwards;
}

.seven-top-tp {
  width: 80%;
  bottom: 8%;
  left: 10%;
  position: absolute;
  opacity: 0;
}

.seven-top-tp>img {
  width: 100%;
}

.seven-top-tp1>img {
  width: 100%;
}

.seven-top-tp2>img {
  width: 100%;
}

.seven-top-tp3>img {
  width: 100%;
}

.seven-top-tp4>img {
  width: 100%;
}

.seven-top-tpt {
  animation: showtow 3s ease-in-out forwards;
}

.seven-top-tp1t {
  animation: showtow 3s ease-in-out forwards;
}

.seven-top-tp2t {
  animation: showtow 3s ease-in-out forwards;
}

.seven-top-tp3t {
  animation: showtow 3s ease-in-out forwards;
}

.seven-top-tp4t {
  animation: showtow 3s ease-in-out forwards;
}

.seven-top-tp1 {
  left: 35%;
  top: 7%;
  position: absolute;
  width: 13%;
  opacity: 0;
}

.seven-top-tp2 {
  position: absolute;
  width: 45%;
  right: 4%;
  top: 3%;
  opacity: 0;
}

.seven-top-tp3 {
  position: absolute;
  bottom: -15%;
  width: 33%;
  left: 7%;
  z-index: 9;
  opacity: 0;
}

.seven-top-tp4 {
  position: absolute;
  width: 33%;
  right: 0%;
  bottom: -10%;
  z-index: 9;
  opacity: 0;
}

.seven-bottom-tp1 {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 0%;
  opacity: 0;
}

.seven-bottom-tp1>img {
  width: 100%;
}

.seven-bottom-tp2>img {
  width: 100%;
}

.seven-bottom-tp1t {
  animation: showtow 3s ease-in-out forwards;
}

.seven-bottom-tp2t {
  animation: showtow 3s ease-in-out forwards;
}

.seven-bottom-tp2 {
  bottom: 15%;
  position: absolute;
  width: 54%;
  left: 1%;
  opacity: 0;
}

.max-eight {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff4e3;
  z-index: 9;
  justify-content: space-evenly;
}

.eight-top {
  position: relative;
  height: 35%;
}

.eight-bottom {
  position: relative;
  height: 65%;
}

.eight-top-tp1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  opacity: 0;
}

.eight-top-tp1t {
  animation: enter-x-left 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(-50px);
}

.eight-bottom-tp1 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  opacity: 0;
}

.eight-bottom-tp1t {
  animation: showtow 3s ease-in-out forwards;
}

.eight-top-tp2 {
  position: absolute;
  width: 55%;
  bottom: -24%;
  z-index: 9;
  left: 25%;
  opacity: 0;
}

.eight-top-tp2>img {
  width: 100%;
}

.eight-top-tp3>img {
  width: 100%;
}

.eight-top-tp4>img {
  width: 100%;
}

.eight-top-tp2t {
  animation: showtow 3s ease-in-out forwards;
}

.eight-top-tp3t {
  animation: showtow 3s ease-in-out forwards;
}

.eight-top-tp3 {
  position: absolute;
  bottom: 29%;
  width: 15%;
  left: 25%;
  opacity: 0;
}

.eight-top-tp4t {
  animation: showtow 3s ease-in-out forwards;
}

.eight-top-tp4 {
  bottom: 18%;
  position: absolute;
  width: 45%;
  right: 5%;
  opacity: 0;
}

.eight-bottom-tp5 {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 0%;
  opacity: 0;
}

.eight-bottom-tp5t {
  animation: showtow 3s ease-in-out forwards;
}

.eight-bottom-tp3t {
  animation: showtow 3s ease-in-out forwards;
}

.eight-bottom-tp3 {
  bottom: 15%;
  position: absolute;
  width: 54%;
  left: 1%;
  opacity: 0;
}

.eight-bottom-tp2 {
  position: absolute;
  width: 45%;
  left: 1%;
  top: 5%;
  opacity: 0;
}

.eight-bottom-tp2>img {
  width: 100%;
}

.eight-bottom-tp5>img {
  width: 100%;
}

.eight-bottom-tp3>img {
  width: 100%;
}

.eight-bottom-tp2t {
  animation: showtow 3s ease-in-out forwards;
}

.max-nine {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff4e3;
  z-index: 9;
  justify-content: space-evenly;
}

.nine-top-tp {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  opacity: 0;
}

.nine-top-tpt {
  animation: enter-x-left 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(-50px);
}

.nine-bottom-tp1 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  opacity: 0;
}

.nine-bottom-tp1t {
  animation: showtow 3s ease-in-out forwards;
}

.nine-top-tp1 {
  position: absolute;
  width: 90%;
  z-index: 9;
  left: 7%;
  bottom: -33%;
  opacity: 0;
}

.nine-top-tp1>img {
  width: 100%;
}

.nine-top-tp2>img {
  width: 100%;
}

.nine-top-tp1t {
  animation: showtow 3s ease-in-out forwards;
}

.nine-top-tp2t {
  animation: showtow 3s ease-in-out forwards;
}

.nine-top-tp2 {
  position: absolute;
  width: 45%;
  bottom: 34%;
  left: 3%;
  opacity: 0;
}

.nine-tp {
  animation: guang 2s linear forwards, blink 1s infinite;
}

.nine-tp2>img {
  width: 100%;
}

.nine-tp3>img {
  width: 100%;
}

.nine-tp4>img {
  width: 100%;
}

.nine-tp5>img {
  width: 100%;
}

.nine-tp6>img {
  width: 100%;
}

.nine-tp7>img {
  width: 100%;
}

.nine-tp2 {
  position: absolute;
  bottom: 23%;
  width: 8%;
  left: 30%;
  z-index: 9;
  opacity: 0;
}

.nine-tp3 {
  position: absolute;
  bottom: 35%;
  width: 8%;
  left: 75%;
  z-index: 9;
  opacity: 0;
}


.nine-tp4 {
  position: absolute;
  bottom: 25%;
  width: 4%;
  left: 85%;
  z-index: 9;
  opacity: 0;
}

.nine-tp5 {
  position: absolute;
  bottom: 17%;
  z-index: 9;
  width: 4%;
  left: 60%;
  opacity: 0;
}

.nine-tp6 {
  position: absolute;
  width: 4%;
  z-index: 9;
  left: 27%;
  bottom: -7%;
  opacity: 0;
}

.nine-tp7 {
  position: absolute;
  z-index: 9;
  width: 6%;
  bottom: 4%;
  left: 9%;
  opacity: 0;
}

.nine-bottom-tp2 {
  position: absolute;
  width: 50%;
  top: -3%;
  right: 0;
  opacity: 0;
}

.nine-bottom-tp2>img {
  width: 100%;
}

.nine-bottom-tp3>img {
  width: 100%;
}

.nine-bottom-tp4>img {
  width: 100%;
}

.nine-bottom-tp5>img {
  width: 100%;
}

.nine-bottom-tp2t {
  animation: showtow 3s ease-in-out forwards;
}

.nine-bottom-tp3t {
  animation: showtow 3s ease-in-out forwards;
}

.nine-bottom-tp3 {
  position: absolute;
  width: 35%;
  top: 20%;
  left: 10%;
  opacity: 0;
}

.nine-bottom-tp4 {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 0%;
  opacity: 0;
}

.nine-bottom-tp4t {
  animation: showtow 3s ease-in-out forwards;
}

.nine-bottom-tp5t {
  animation: showtow 3s ease-in-out forwards;
}

.nine-bottom-tp5 {
  bottom: 15%;
  position: absolute;
  width: 50%;
  left: 1%;
  opacity: 0;
}

.max-ten {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff4e3;
  z-index: 8;
  justify-content: space-evenly;
}

.ten-one {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.max-ten-tp {
  width: 100%;
  top: 0;
  position: absolute;
}

.max-ten-tp>img {
  width: 100%;
}

.max-ten-tp2 {
  width: 100%;
  height: 30%;
  bottom: 0;
  position: absolute;
  background-image: url(../images/bj.png);
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
}

.max-ten-tp2>img {
  width: 100%;
}

.max-ten-zj {
  position: relative;
  width: 100%;
  height: 35%;
}

.ten-zj-gong {
  position: absolute;
  width: 80%;
  top: -70%;
  left: 10%;
}

.ten-zj-gong>img {
  width: 100%;
}

.ten-zj-tp3 {
  position: absolute;
  width: 40%;
  z-index: 8;
  left: 32%;
  top: -20%;
}

.ten-zj-tp3>img {
  width: 100%;
}

.ten-zj-tp4>img {
  width: 100%;
}

.ten-zj-tp4 {
  position: absolute;
  width: 90%;
  left: 7%;
  bottom: 18%;
  z-index: 8;
}

.bottom-six>img {
  width: 100%;
}

.bottom-eight>img {
  width: 100%;
}

.bottom-six {
  width: 40%;
  margin-top: -5%;
  animation: guangtwot 1.5s linear infinite;
}

.bottom-eight {
  width: 40%;
  margin-top: -5%;
  animation: guangtwot 1.5s linear infinite;
}

@keyframes guangtwot {
  0% {
    /* width: 60%; */
    transform: scale(1);
  }

  50% {
    /* width: 65%; */
    transform: scale(1.06);
  }

  100% {
    transform: scale(1);
  }
}

.max-eleven {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff4e3;
  z-index: 7;
  justify-content: space-evenly;
  background-image: url('../images/bj1.png');
  background-size: 100% 100%;
}

.eleven-bj {
  position: absolute;
  height: 100%;
}

.eleven-tp {
  position: absolute;
  width: 50%;
  z-index: 7;
  top: 35%;
}

.eleven-tp>img {
  width: 100%;
}

.eleven-tp2>img {
  width: 100%;
}

.eleven-tp3>img {
  width: 100%;
}

.eleven-tp4>img {
  width: 100%;
}

.eleven-tp5>img {
  width: 100%;
}

.eleven-tp6>img {
  width: 100%;
}

.eleven-tp7>img {
  width: 100%;
}

.eleven-zj-tp {
  width: 100%;
  height: 70%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eleven-tp1 {
  position: absolute;
  width: 100%;
}

.eleven-tp1>img {
  width: 100%;
}

#eleven-tp1-img {
  animation: guang 2s linear forwards, blink 1s infinite;

}

@keyframes guang {
  0% {
    transform: translateX(-5px) rotate(0deg);
  }

  50% {
    transform: translateX(5px) rotate(10deg);
  }

  10% {
    transform: translateX(-5px) rotate(0deg);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.eleven-tp2 {
  position: absolute;
  top: 26%;
  width: 8%;
  left: 30%;
  animation: guang 2s linear forwards, blink 1s infinite;

}

.eleven-tp3 {
  position: absolute;
  top: 35%;
  width: 8%;
  left: 75%;
  animation: guang 2s linear forwards, blink 1s infinite;

}

.eleven-tp4 {
  position: absolute;
  top: 30%;
  width: 4%;
  left: 77%;
  animation: guang 2s linear forwards, blink 1s infinite;

}

.eleven-tp5 {
  position: absolute;
  top: 17%;
  width: 4%;
  left: 60%;
  animation: guang 2s linear forwards, blink 1s infinite;

}

.eleven-tp6 {
  position: absolute;
  width: 4%;
  left: 27%;
  bottom: 25%;
  animation: guang 2s linear forwards, blink 1s infinite;

}

.eleven-tp7 {
  position: absolute;
  width: 6%;
  bottom: 28%;
  left: 21%;
  animation: guang 2s linear forwards, blink 1s infinite;

}

.eleven-zj-tp1 {
  width: 100%;
  height: 70%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.eleven-zj-tp1t {
  animation: showtow 0.3s ease-in-out forwards;

}

.eleven-one-tp>img {
  width: 100%;
}

.eleven-one-tp1>img {
  width: 100%;
}

.eleven-one-tp2>img {
  width: 100%;
}

.eleven-one-tp3>img {
  width: 100%;
}


.eleven-one-tp {
  left: 32%;
  position: absolute;
  width: 55%;
  top: 53%;
  z-index: 7;

}

.eleven-one-tp1 {
  position: absolute;
  width: 100%;
  animation: guang 2s linear forwards, blink 1s infinite;

}

.eleven-one-tp2 {
  position: absolute;
  width: 35%;
  transform: rotateZ(-18deg);
  left: 20%;
  top: 50%;
}

.eleven-one-tp3 {
  position: absolute;
  width: 90%;
  top: -15%;
  left: 15%;
  opacity: 0;
}

.eleven-one-tp3t{
  animation: four-x-right 1.0s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateY(300px);
}

.eleven-one-tp3>img {
  width: 100%;
}

.max-twelve {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff4e3;
  z-index: 6;
  justify-content: space-evenly;
}

.three-shitu-one {
  width: 88.125%;
  height: 88.492%;
  position: relative;
}

.twelve-top-one {
  width: 100%;
  height: 25%;
  position: relative;
}

.twelve-top-two {
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: space-between;
  margin-top: 12%;
}

.twelve-top-three {
  width: 100%;
  height: 49%;
  position: relative;
  bottom: 10%;
}

.twelve-tp {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.twelve-tp>img {
  width: 100%;
}


.twelve-tpt {
  animation: showtow 3s ease-in-out forwards;
}

.twelve-one-img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.twelve-one-img>img {
  width: 100%;
}

.twelve-two-img>img {
  width: 100%;
}

.twelve-two-img {
  width: 100%;
  height: 78%;
  position: absolute;
  opacity: 0;
}

.twelve-one-imgt {
  animation: enter-x-left 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(-50px);
}

.twelve-two-imgt {
  animation: enter-x-right 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(50px);
}

.twelve-three-img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.twelve-three-imgt {
  animation: four-x-right 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateY(50px);
}

.twelve-top-left {
  width: 49%;
  height: 98%;
  position: relative;
}

.twelve-top-right {
  width: 49%;
  height: 100%;
  position: relative;
}

.twelve-max-zj {
  width: 100%;
  height: 100%;
  display: flex;
}

.twelve-left {
  width: 30%;
  height: 100%;
  position: relative;
  opacity: 0;
}

.twelve-leftt {
  animation: enter-x-left 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(-50px);
}

.twelve-top-left-max {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.twelve-top-left-maxt {
  animation: showtow 3s ease-in-out forwards;
}

.twelve-top-right-max {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.twelve-top-right-maxt {
  animation: showtow 3s ease-in-out forwards;
}

.twelve-left-one {
  position: absolute;
  width: 90%;
  left: 10%;
  top: 2%;
}

.twelve-left-one>img {
  width: 100%;
}

.twelve-left-two>img {
  width: 100%;
}

.twelve-left-three>img {
  width: 100%;
}

.twelve-left-two {
  position: absolute;
  width: 40%;
  left: 89%;
  top: 10%;
}

.twelve-left-three {
  position: absolute;
  width: 50%;
  top: 64%;
  left: 60%;
}

.twelve-zj {
  width: 40%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.twelve-zjt {
  animation: showtow 3s ease-in-out forwards;
}

.twelve-zj-one {
  position: absolute;
  width: 100%;
  bottom: -10%;
}

.twelve-zj-one>img {
  width: 100%;
}

.twelve-right {
  width: 30%;
  height: 100%;
  position: relative;
  opacity: 0;
}

.twelve-rightt {
  animation: enter-x-right 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(50px);
}

.twelve-right-one>img {
  width: 100%;
}

.twelve-right-two>img {
  width: 100%;
}

.twelve-right-three>img {
  width: 100%;
}

.twelve-right-one {
  position: absolute;
  width: 90%;
  right: 10%;
  top: -8%;
}

.twelve-right-two {
  position: absolute;
  width: 40%;
  right: 100%;
  top: 20%;
}

.twelve-right-three {
  position: absolute;
  width: 50%;
  top: 55%;
  right: 88%;
}

.twelve-top-right-tp>img {
  width: 100%;
}

.twelve-top-right-tp1>img {
  width: 100%;
}

.twelve-top-right-tp2>img {
  width: 100%;
}

.twelve-top-left-tp>img {
  width: 100%;
}

.twelve-top-left-tp1>img {
  width: 100%;
}

.twelve-top-left-tp2>img {
  width: 100%;
}

.twelve-top-left-tp3>img {
  width: 100%;
}

.twelve-top-left-tp {
  bottom: 15%;
  position: absolute;
  width: 35%;
  left: 30%;
}

.twelve-top-left-tp1 {
  position: absolute;
  width: 80%;
  top: -13%;
  left: 10%;
}

.twelve-top-left-tp2 {
  position: absolute;
  width: 45%;
  right: -3%;
  top: 20%;
}

.twelve-top-left-tp3 {
  position: absolute;
  width: 8%;
  left: 10%;
  top: 40%;
}

.twelve-top-right-tp {
  position: absolute;
  width: 40%;
  left: 30%;
  top: 10%;
}

.twelve-top-right-tp1 {
  position: absolute;
  width: 8%;
  top: 20%;
  left: 15%;
}

.twelve-top-right-tp2 {
  position: absolute;
  width: 40%;
  top: -18%;
  right: -1%;
}

.twelve-top-three-tp>img {
  width: 100%;
}

.twelve-top-three-tp1>img {
  width: 100%;
}

.twelve-top-three-tp2>img {
  width: 100%;
}

.twelve-top-three-tp3>img {
  width: 100%;
}

.twelve-top-three-tp {
  position: absolute;
  width: 45%;
  left: 30%;
  bottom: 10%;
  opacity: 0;
}

.twelve-top-three-tpt {
  animation: showtow 3s ease-in-out forwards;
}

.twelve-top-three-tp1 {
  position: absolute;
  width: 37%;
  right: 1%;
  bottom: 65%;
  opacity: 0;
}

.twelve-top-three-tp1t {
  animation: enter-x-right 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(50px);
}

.twelve-top-three-tp2 {
  position: absolute;
  width: 34%;
  left: -6%;
  bottom: 30%;
  opacity: 0;
}

.twelve-top-three-tp2t {
  animation: enter-x-left 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(-50px);
}

.twelve-top-three-tp3 {
  position: absolute;
  width: 35%;
  right: -4%;
  bottom: 13%;
  opacity: 0;
}

.twelve-top-three-tp3t {
  animation: enter-x-right 2s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  transform: translateX(50px);
}

.max-thirteen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff4e3;
  z-index: 5;
  justify-content: space-evenly;
}

.thirteen-top {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("../images/bj.png");
  background-size: 100% 100%;
}

.thirteen-top-one {
  width: 25%;
  margin-left: 55%;
  position: absolute;
}

.thirteen-top-one>img {
  width: 100%;
}

.thirteen-tp {
  width: 15%;
  position: absolute;
  right: 0;
}

.thirteen-tp1 {
  width: 20%;
  position: absolute;
  bottom: 1%;
  left: 2%;
}

.thirteen-tp1>img {
  width: 100%;
}

.thirteen-tp2 {
  position: absolute;
  top: 15%;
  animation: guangtwot 1.5s linear infinite;

}

.thirteen-wenzi {
  font-size: 20px;
  position: absolute;
  color: #246d42;
  width: 100%;
  display: flex;
  bottom: 5%;
  justify-content: center;
}

.thirteen-one {
  width: 15%;
  position: absolute;
  margin-right: 73%;
  margin-top: -65%;
}

.thirteen-one>img {
  width: 100%;
}

.thirteen-onet {
  animation: drop 2s cubic-bezier(0.4, 0, 0.2, 0.5) forwards;
}

.eleven-dianji {
  width: 12%;
  height: 10%;
  border-radius: 50%;
  border: 2px solid #ffffff;
  z-index: 7;
  animation: guangone 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;

}

.eleven-dianji1 {
  width: 17%;
  height: 15%;
  border-radius: 50%;
  background: #ffffff;
  z-index: 7;
  animation: guangone 2s linear infinite;
}

@keyframes guangone {
  0% {
    width: 12%;
    height: 10%;
    opacity: 0.5;
  }

  50% {
    opacity: 0.5;
    width: 17%;
    height: 15%;
  }

  100% {
    width: 12%;
    height: 10%;
    opacity: 0.5;
  }
}

.thirteen-tp>img {
  width: 100%;
}

.eleven-bj>img {
  width: 100%;
}

/* 背景音乐 */
.music {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 11%;
  height: 5%;
  z-index: 999;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music_img {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
}

.music_img_page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
}

.music_img>.music_img_page>img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.music_img_page_stop {
  width: 100%;
  height: 5px;
  background-color: #ccc;
  position: absolute;
  /* 旋转65度 */
  transform: rotate(65deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.musicRotate {
  animation: rotate 10s linear infinite;
  /* 持续10秒，线性运动，无限循环 */
}

.music_img_audio {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.music_img_audio>audio {
  width: 100%;
  height: 100%;
  display: none;
}
.music_img_page>img{
  width: 100%;
}
